body{
    display: grid;
    place-items: center;
    min-height: 100svh;
    margin: 0;
    background-color: rgb(34, 34, 34);
    font-family: Tahoma, Verdana, Arial, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.innerBorder{
    background-color: rgb(192, 192, 192);
    border: 1rem solid transparent;
    border-image: url(./assets/border/inner.svg) 1 stretch;
}

.outerBorder{
    background-color: rgb(192, 192, 192);
    border: 1rem solid transparent;
    border-image: url(./assets/border/outer.svg) 1 stretch;
}

#mainWindow{
    touch-action: manipulation;
}

#stats{
    margin-bottom: 6rem;
}

#stats div{
    margin: 2rem;
}

#grid{
    width: 144rem;
    height: 144rem;
    display: grid;
    grid-auto-rows: 1fr;
    background-color: #c0c0c0;
    overflow: hidden;
}

.centeredDivs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#currentTimeDiv{
    margin-bottom: 10rem;
}

#visor{
    min-height: 32rem;
    background-color: #c0c0c0;
    display: flex;
    align-items: center;
    position: relative;
}

.marginBorder{
    margin: 6rem;
}

.lcd{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 8rem;
}

#smiley{
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 1rem;
    user-select: none;
    width: 24rem;
}

#mineCount{
    left: 0;
}

#timer{
    right: 0;
}

.sprite{
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    user-select: none;
}

.cell{
    cursor: pointer;
}

.hiddenDiv{
    width: 0;
    height: 0;
}

#menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    font-size: 6rem;
    width: 136rem;
    height: 136rem;
}

#difficulties {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    row-gap: 3rem;
    column-gap: 8rem;
    margin-bottom: 8rem;
}

#difficulties label {
  font-weight: bold;
}

#startDiv {
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

#startButton{
    font-size: 12rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    font-weight: bold;
    padding-right: 4rem;
}

#startImg{
    width: 18rem;
    height: 18rem;
}

input[type="radio"], 
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

label {
    padding-right: 4rem;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 2rem;
    user-select: none;
}

label::before {
    content: "";
    display: inline-block;
    width: 8rem;
    height: 8rem;
    background-image: url('./assets/tiles/unpressed.png');
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

label:has(input:is([type="radio"], [type="checkbox"]):checked)::before {
    background-image: url('./assets/tiles/flag.png');
}

.largeInput {
    width: 20rem;
    height: rem;
    font-size: 6rem;
    padding: 0.5rem;
    border: 0;
    box-sizing: border-box;
    border-radius: 1rem;
}
