body{
    display: grid;
    place-items: center;
    min-height: 100svh;
    margin: 0;
    background-color: rgb(34, 34, 34);
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

.innerBorder{
    will-change: transform;
    background-color: rgb(192, 192, 192);
    border: 1rem solid transparent;
    border-image: url(./assets/border/inner.svg) 1 stretch;
}

.outerBorder{
    background-color: rgb(192, 192, 192);
    border: 1rem solid transparent;
    border-image: url(./assets/border/outer.svg) 1 stretch;
}

#mainWindow{
    touch-action: manipulation;
}

#grid{
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-auto-rows: 1fr;
    /* width: 100%;
    max-width: 500rem; */
    /* gap: 1rem; */
    background: black;
    /* border: solid 1rem rgb(88, 88, 88); */
    /* margin: 20rem; */
    /* border-radius: 6rem; */
    overflow: hidden;
}

.centeredDivs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sprite{
    user-select: none;
}

#currentTimeDiv{
    margin-bottom: 10rem;
}

#visor{
    height: 32rem;
    background-color: #c0c0c0;
    display: flex;
    align-items: center;
    position: relative;

}

.marginBorder{
    margin: 6rem;
}

.lcd{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 8rem;

    /* background-image: url("./assets/lcd/0.png");
    background-repeat: repeat-x;
    background-size: 33.333% 100%; */

}

#smiley{
    image-rendering: crisp-edges; /* fallback */
    image-rendering: -moz-crisp-edges; /* fallback */
    image-rendering: pixelated;
    /* height: 81.25%; */
    cursor: pointer;
    margin: 0 auto;
    margin-top: 1rem;
    user-select: none;
    width: 24rem;
}

#mineCount{
    left: 0;
}

#timer{
    right: 0;
}

.sprite{
    image-rendering: crisp-edges; /* fallback */
    image-rendering: -moz-crisp-edges; /* fallback */
    image-rendering: pixelated;
    /* width: 100%;
    height: 100%; */
}

.cell{
    cursor: pointer;
}

.hiddenDiv{
    width: 0;
    height: 0;
}

/* Custom menu buttons */
#menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    font-size: 6rem;
    width: 136rem;
    height: 136rem;
}

#difficulties {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    row-gap: 3rem;
    column-gap: 8rem;
    margin-bottom: 8rem;
}


#difficulties label {
  font-weight: bold;
}

#startDiv {
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

#startImg{
    width: 8rem;
    height: 8rem;
}

input[type="radio"], 
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

label {
    padding-right: 4rem;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 2rem;
    /* padding: 5rem; */
    user-select: none;
}

label::before {
    content: "";
    display: inline-block;
    width: 8rem;
    height: 8rem;
    background-image: url('./assets/tiles/unpressed.png');
    background-size: contain;
    background-repeat: no-repeat;
}

label:has(input:is([type="radio"], [type="checkbox"]):checked)::before {
    background-image: url('./assets/tiles/flag.png');
}

.largeInput {
    width: 20rem;
    height: rem;
    font-size: 6rem;
    padding: 0.5rem;
    border: 0;
    box-sizing: border-box;
    border-radius: 1rem;
}

#startButton{
    display: flex;
    gap: 2rem;
    cursor: pointer;
    font-weight: bold;
    padding-right: 4rem;
}

/* Custom menu buttons */
