body{
    display: grid;
    place-items: center;
    min-height: 100svh;
    margin: 0;
    background-color: rgb(34, 34, 34);
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

.innerBorder{
    will-change: transform;
    background-color: rgb(192, 192, 192);
    border: 1rem solid transparent;
    border-image: url(./assets/border/inner.svg) 1 stretch;
}

.outerBorder{
    background-color: rgb(192, 192, 192);
    border: 1rem solid transparent;
    border-image: url(./assets/border/outer.svg) 1 stretch;
}

#mainWindow{
    /* transform: scale(2); */
}

#grid{
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-auto-rows: 1fr;
    /* width: 100%;
    max-width: 500rem; */
    /* gap: 1rem; */
    background: black;
    /* border: solid 1rem rgb(88, 88, 88); */
    /* margin: 20rem; */
    /* border-radius: 6rem; */
    overflow: hidden;
}

.centeredDivs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    font-size: 6rem;
    width: 140rem;
    height: 140rem;
}

#difficulties {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    row-gap: 3rem;
    column-gap: 8rem;
}


#difficulties label {
  font-weight: bold;
}

#startDiv {
  display: flex;
  justify-content: space-between;
  padding: 0rem;
  width: 95%;
}

.sprite{
    user-select: none;
}

#currentTimeDiv{
    margin-bottom: 10rem;
}

#visor{
    height: 32rem;
    background-color: #c0c0c0;
    display: flex;
    align-items: center;
    position: relative;

}

.marginBorder{
    margin: 6rem;
}

.lcd{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 8rem;

    /* background-image: url("./assets/lcd/0.png");
    background-repeat: repeat-x;
    background-size: 33.333% 100%; */

}

#smiley{
    image-rendering: crisp-edges; /* fallback */
    image-rendering: -moz-crisp-edges; /* fallback */
    image-rendering: pixelated;
    /* height: 81.25%; */
    cursor: pointer;
    margin: 0 auto;
    margin-top: 1rem;
    user-select: none;
    width: 24rem;
}

#mineCount{
    left: 0;
}

#timer{
    right: 0;
}

.sprite{
    image-rendering: crisp-edges; /* fallback */
    image-rendering: -moz-crisp-edges; /* fallback */
    image-rendering: pixelated;
    /* width: 100%;
    height: 100%; */
}

.cell{
    cursor: pointer;
}